@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
  }
  ol,
  ul {
    list-style: none;
  }
  a,
  input {
    /* display: block; */
    all: unset;
  }
  body {
    @apply bg-neutral-2;
  }
}

@layer components {
  @media screen(tab) {
    .text {
      @apply mt-4 text-sm leading-6 col-start-1 col-span-2 mt-6 row-start-4 col-span-1 dark:text-slate-400;
    }
  }
}

@layer utilities {
  .hello {
    color: red;
  }
}
